name: Metrics

on:
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    permissions:
      contents: write

    steps:
      - name: Left image
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.classic.svg
          token: ${{ secrets.METRICS_TOKEN }}
          template: classic
          base: header, repositories, metadata
          config_timezone: Asia/Tokyo
      - name: Right image
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.languages.svg
          token: ${{ secrets.METRICS_TOKEN }}
          template: classic
          base: activity
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 6
          plugin_languages_details: bytes-size, percentage
